
<div class="row border rounded shadow-sm my-2 p-2">

  <div class="col-1 d-flex align-items-center">
    <img src="{{ post.author.avatar(64) }}" class="align-self-start mr-3" alt="{{ post.author.username }} Avatar">
  </div>

  <div class="col ms-4">
    <div class="d-flex flex-row justify-content-between">
      <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
      <p>{{ moment(post.timestamp).fromNow() }}</p>
    </div>
    <p>{{ post.body }}</p>   
    <button onclick="upvotePost({{ post.id }})" class="btn btn-outline-success btn-sm upvote-button" data-post-id="{{ post.id }}">
      <i class="fa-solid fa-thumbs-up me-2"></i><span id="upvote-count-{{ post.id }}">{{ post.upvotes.count() }}</span>
    </button>
    <button onclick="downvotePost({{ post.id }})" class="btn btn-outline-danger btn-sm downvote-button" data-post-id="{{ post.id }}">
      <i class="fa-solid fa-thumbs-down me-2"></i><span id="downvote-count-{{ post.id }}">{{ post.downvotes.count() }}</span>
    </button>
    <button onclick="savePost({{ post.id }})" id="save-toggle-button-{{ post.id }}" data-post-id="{{ post.id }}" class="btn btn-outline-warning">
      {% if current_user.has_saved_post(post) %}
      <i id="star-icon-{{ post.id }}" class="fa-solid fa-star"></i>
      {% else %}
      <i id="star-icon-{{ post.id }}" class="fa-regular fa-star"></i>
      {% endif %}
    </button>

    {# 

    {% if post.language and post.language != g.locale %}
    <div class="d-flex flex-row-reverse">
      <a href="#">{{ _('Translate') }}</a>
    </div>
    {% endif %}
    
    #}
  </div>
</div>