
<div class="row border rounded shadow-sm my-2 p-2">

  <div class="col-1 d-flex align-items-center">
    <img src="{{ post.author.avatar(64) }}" class="align-self-start mr-3" alt="{{ post.author.username }} Avatar">
  </div>

  <div class="col ms-4">
    <div class="d-flex flex-row justify-content-between">
      <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
      <p>{{ moment(post.timestamp).fromNow() }}</p>
    </div>
    <p>{{ post.body }}</p>   
    <form action="/upvote_post/{{post.id}}" method="POST" class="d-inline">
      <button type="submit" class="btn btn-outline-success btn-sm">
        <i class="fa-solid fa-thumbs-up me-2"></i>{{ post.upvotes.count() }}
      </button>
    </form>
    <form action="/downvote_post/{{post.id}}" method="POST" class="d-inline">
      <button type="submit" class="btn btn-outline-danger btn-sm">
        <i class="fa-solid fa-thumbs-down me-2"></i>{{ post.downvotes.count() }}
      </button>
    </form>

    {# 

    {% if post.language and post.language != g.locale %}
    <div class="d-flex flex-row-reverse">
      <a href="#">{{ _('Translate') }}</a>
    </div>
    {% endif %}
    
    #}
  </div>
</div>