<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        {% if title %}
        <title>{{ title }} - Microblog</title>
        {% else %}
        <title>{{ _('Welcome to Microblog!') }}</title>
        {% endif %}
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='ico/comments-regular.svg') }}">
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('main.index') }}"><i class="fa-regular fa-comments me-2"></i>Microblog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">{{_('Home')}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('main.explore') }}">{{_('Explore')}}</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              {% if current_user.is_anonymous %}
              <li class="nav-item">
                  <a class="btn btn-primary" href="{{ url_for('auth.login') }}">{{_('Login')}}</a>
              </li>
              {% else %}
              <li class="nav-item dropdown">
                <a class="dropdown-toggle btn btn-outline-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="me-4" src="{{ current_user.avatar(36) }}" />{{ current_user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="{{ url_for('main.user', username=current_user.username) }}">{{_('Profile')}}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-decoration-underline" href="{{ url_for('auth.logout') }}">{{_('Logout')}}<i class="fa-solid fa-right-to-bracket ms-2"></i></a></li>
                </ul>
              </li>
              {% endif %}
          </ul>
          </div>
        </div>
      </nav>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="container">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
              <i class="fa-solid fa-triangle-exclamation"></i>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      
      {% block content %}{% endblock %}

      {% block scripts %}
        {{ bootstrap.load_js() }}
        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}
      {% endblock %}
      <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/e03d8a3810.js" crossorigin="anonymous"></script>
      <script>
        function upvotePost(postId) {
          $.post('/upvote_post/' + postId, {
            post_id: postId
          }).done(function(response) {
            $("#upvote-count-" + postId).text(response['upvotes'])
            $("#downvote-count-" + postId).text(response['downvotes'])
          }).fail(function() {
            console.error("Error while upvoting:", error);
        });
        }

        function downvotePost(postId) {
          $.post('/downvote_post/' + postId, {
            post_id: postId
          }).done(function(response) {
            console.log("upvotes: " + response['upvotes'] + " / downvotes: " + response['downvotes'])
            $("#downvote-count-" + postId).text(response['downvotes'])
            $("#upvote-count-" + postId).text(response['upvotes'])
          }).fail(function() {
            console.error("Error while downvoting:", error);
        });
        }
    </script>
  </body>
</html>

