{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
<div class="container">
  <div class="my-4 d-flex justify-content-center">
    <div class="card shadow" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Start using <strong>Microblog</strong> today!</h6>
        <form action="" method="post" novalidate>
          {{ render_form(form) }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
