{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}

<div class="container mt-4">

  <div class="d-flex flex-row">
    <div class="me-4">
      <img src="{{ user.avatar(128) }}" />
      <div class="border rounded shadow-sm p-2 m-2 d-flex flex-column align-items-center">
        <i class="fa-solid fa-user-group mb-2"></i>
        <p class="mb-2">{{ _('%(count)d followers', count=user.followers.count()) }}</p>
        <p class="mb-2">{{ _('%(count)d following', count=user.followed.count()) }}</p>
      </div>
      {% if not current_user.is_following(user) and user != current_user %}
      <div>
        <p>
          <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
              {{ form.hidden_tag() }}
              <div class="d-flex justify-content-center">
                {{ form.submit(value='Follow', class='btn btn-primary') }}
              </div>          
            </form>
        </p>
      </div>
      {% elif current_user.is_following(user) and user != current_user %}
      <div>
        <p>
          <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
              {{ form.hidden_tag() }}
              <div class="d-flex justify-content-center">
                {{ form.submit(value='Unfollow', class='btn btn-outline-danger') }}
              </div>
          </form>
        </p>
      </div>
      {% endif %}
    </div>
    <div class="col">
      <div class="d-flex flex-row align-items-center">
        <h1>{{ user.username }}</h1>
        {% if user.last_seen %}
          <p class="ms-4">{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>
        {% endif %}
        {% if user == current_user %}
        <div class="ms-auto">
          <p><a class="btn btn-outline-primary" href="{{ url_for('main.edit_profile') }}"><i class="fa-solid fa-pen me-2"></i>{{_('Edit your profile')}}</a></p>
        </div>
        {% endif %}

      </div>
      <div>
      {% if user.about_me %}
        <p>{{ user.about_me }}</p>
      {% endif %}
      </div>
      <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">My Posts</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Saved Posts</a>
            </li>
        </ul>
        
        <div class="tab-content my-4" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
              {% for post in posts %} 
                {% include "_post.html" %} 
              {% endfor %}
              {% if prev_url %}
              <a href="{{ prev_url }}">{{_('Newer posts')}}</a>
              {% endif %}
              {% if next_url %}
              <a href="{{ next_url }}">{{_('Older posts')}}</a>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
              {% for post in saved_posts %} 
                {% include "_post.html" %} 
              {% endfor %}
            </div>
        </div>



      </div>
    </div>
  </div>


</div>

{% endblock %}
