{% extends "base.html" %} 
{% from 'bootstrap5/form.html' import render_field %}

{% block content %}

<div class="container mt-4">

  <div class="d-flex flex-row">
    <div class="me-4">
      <img src="{{ user.avatar(128) }}" />
      <div class="border rounded shadow-sm p-2 m-2 d-flex flex-column align-items-center">
        <i class="fa-solid fa-user-group mb-2"></i>
        <p class="mb-2">{{ user.followers.count() }} followers</p>
        <p class="mb-2">{{ user.followed.count() }} following</p>
      </div>
      {% if not current_user.is_following(user) and user != current_user %}
      <div>
        <p>
          <form action="{{ url_for('follow', username=user.username) }}" method="post">
              {{ form.hidden_tag() }}
              <div class="d-flex justify-content-center">
                {{ form.submit(value='Follow', class='btn btn-primary') }}
              </div>          
            </form>
        </p>
      </div>
      {% elif current_user.is_following(user) and user != current_user %}
      <div>
        <p>
          <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
              {{ form.hidden_tag() }}
              <div class="d-flex justify-content-center">
                {{ form.submit(value='Unfollow', class='btn btn-outline-danger') }}
              </div>
          </form>
        </p>
      </div>
      {% endif %}
    </div>
    <div class="col">
      <div class="d-flex flex-row align-items-center">
        <h1>{{ user.username }}</h1>
        {% if user.last_seen %}
          <p class="ms-4">Last seen on: {{ user.last_seen }}</p>
        {% endif %}
        {% if user == current_user %}
        <div class="ms-auto">
          <p><a class="btn btn-outline-primary" href="{{ url_for('edit_profile') }}"><i class="fa-solid fa-pen me-2"></i>Edit your profile</a></p>
        </div>
        {% endif %}

      </div>
      <div>
      {% if user.about_me %}
        <p>{{ user.about_me }}</p>
      {% endif %}
      </div>
      <div>
        <hr/>
        {% for post in posts %} 
          {% include "_post.html" %} 
        {% endfor %}

        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
      </div>
    </div>
  </div>


</div>

{% endblock %}
